<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/joinProc" method="post" name="joinForm">
    <input type="text" name="username" placeholder="Username" style="width: 100%; padding: 10px; border: 1px solid #ccc;"/>
    <input type="password" name="password" placeholder="Password" style="width: 100%; padding: 10px; border: 1px solid #ccc;"/>
    <input type="text" name="nickname" placeholder="Nickname" style="width: 100%; padding: 10px; border: 1px solid #ccc;"/>
    <input type="text" name="email" placeholder="Email" style="width: 100%; padding: 10px; border: 1px solid #ccc;"/>
    <input type="text" name="mobileNumber" placeholder="MobileNumber" style="width: 100%; padding: 10px; border: 1px solid #ccc;"/>
    <input type="submit" value="Join" style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; cursor: pointer;"/>
</form>
</body>
</html>